:root {
  --color-accent-rgb: 249, 197, 19;
  --color-accent: rgb(var(--color-accent-rgb));
  --color-accent-1: rgba(var(--color-accent-rgb), 0.9);
  --color-accent-2: rgba(var(--color-accent-rgb), 0.8);
  --color-accent-dark-rgb: 255, 211, 61;

  --color-light: #ffffff;
  --color-dark: #000000;
}
